body {
  font-family: "Rubik", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #2a9d8f;
}

.login-dark {
  background-color: #1e293b;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid rgba(98, 105, 118, 0.16);
}

.accordion-body {
  padding: 0;
}

.card {
  border-radius: 7px;
}

.card-header:first-child {
  border-radius: 7px 7px 0 0;
}

.card-footer:last-child {
  border-radius: 0 0 7px 7px;
}

.theme-dark {
  color: #ffffffb3;
}
