body {
    font-family: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

.accordion-item {
    border: none;
    border-bottom: 1px solid rgba(98, 105, 118, 0.16);
}

.accordion-body {
    padding: 0;
}

.card {
    border-radius: 10px;
}

.card-header:first-child {
    border-radius: 10px 10px 0 0;
}

.card-footer:last-child {
    border-radius: 0 0 10px 10px;
}

.theme-dark {
    color: #ffffffb3;
}