body {
    font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

.accordion-item {
    border: none;
    border-bottom: 1px solid rgba(98, 105, 118, 0.16);
}

.accordion-body {
    padding: 0;
}